/* Navbars */
.profile-pic {
    border-radius: 10%;
}

.navbar-brand {
    padding: 0px;
}

.nav-link:hover {
    color: #FFB5C0 !important;
}

.search-btn {
    background-color: white;
    border-color: #ced4da;
    border-left: 0;
}

.pink-hover:hover {
    background-color: #FFB5C0;
    border-color: #FFB5C0;
}

#indexNavbar-form {
    display: grid;
}

#indexNavbar-signupBtn {
    width: 100%;
    display: block;
}


/* Pink button */
.btn-pink {
    background-color: #FFB5C0;
    border-color: #FFB5C0;
    color: #343a40;
    font-weight: 500;
}

.btn-pink:hover {
    background-color: #ff95a5;
    border-color: #ff95a5;
}

.btn-outline-pink {
    border-color: #FFB5C0;
    color: #FFB5C0;
    font-weight: 500;
}

.btn-outline-pink:hover {
    background-color: #ff95a5;
    border-color: #ff95a5;
}


/* Gallery, image and overlay */
.gal {
    column-gap: 1rem;
    margin: 1.5%;
    margin-top: 25px;
}

.gal-image {
    width: 100%;
    height: auto;
}

.image-block {
    margin-bottom: 1rem;
    position: relative;
}

.image-block > a {
    display: block;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.5));
    color: white;
    width: 100%;
    transition: .2s;
    opacity: 0;
    padding: 15px;
    padding-bottom: 12px;
}

.image-overlay a {
    text-decoration: none;
    margin-top: 0.3rem;
}

.image-overlay span {
    color: white;
    vertical-align: middle;
}

.image-block:hover .image-overlay {
    opacity: 1;
}


/* Media queries */
@media (min-width: 650px) {
    .gal {
        column-count: 2;
    }
}


#navbar-uploadBtn-ico {
    display: none;
}

#navbar-uploadBtn-text {
    display: initial;
}

@media (min-width: 768px) {
    #navbar-search-bar {
        min-width: 200px;
        width: 25%;
    }

    #indexNavbar-form {
        display: initial;
    }

    #indexNavbar-signupBtn {
        display: initial;
        width: initial;
    }

    #navbar-uploadBtn-ico {
        display: initial;
    }
    
    #navbar-uploadBtn-text {
        display: none;
    }
}


@media (min-width: 1050px) {
    .gal {
        column-count: 3;
    }
}

@media (min-width: 1400px) {
    .gal {
        column-count: 4;
    }
}
